In [1]:
import pandas as pd

In [3]:
# output from states-a.csv

        State
0     Alabama
1      Alaska
2     Arizona
3    Arkansas
4  California

In [2]:
states_a = pd.read_csv('states-a.csv')
states_a.head()

        State
0     Alabama
1      Alaska
2     Arizona
3    Arkansas
4  California

In [4]:
# output from states-b.csv

           State
0        Montana
1       Nebraska
2         Nevada
3  New Hampshire
4     New Jersey

In [3]:
states_b = pd.read_csv('states-b.csv')
states_b.head()

           State
0        Montana
1       Nebraska
2         Nevada
3  New Hampshire
4     New Jersey

In [6]:
# after you combine the two, your dataframe should have this shape

(50, 1)

In [6]:
states = pd.concat([states_a, states_b], axis = 0)

In [7]:
states.shape

(50, 1)

In [10]:
# output after combining state-abbreviations.csv

In [11]:
state_abbreviations = pd.read_csv('state-abbreviations.csv')
state_abbreviations.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [12]:
state_capitals = pd.read_csv('state-capitals.csv')
state_capitals.head()

        State      Capital
0     Alabama   Montgomery
1      Alaska       Juneau
2     Arizona      Phoenix
3    Arkansas  Little Rock
4  California   Sacramento

In [8]:
# output after combining state-capitals.csv

        State Abbreviation      Capital
0     Alabama           AL   Montgomery
1      Alaska           AK       Juneau
2     Arizona           AZ      Phoenix
3    Arkansas           AR  Little Rock
4  California           CA   Sacramento

In [13]:
abbreviations_capitals = pd.merge(state_abbreviations, state_capitals, on='State')
abbreviations_capitals.head()

        State Abbreviation      Capital
0     Alabama           AL   Montgomery
1      Alaska           AK       Juneau
2     Arizona           AZ      Phoenix
3    Arkansas           AR  Little Rock
4  California           CA   Sacramento

In [9]:
# output after setting the index to be the State column

           Abbreviation      Capital
State
Alabama              AL   Montgomery
Alaska               AK       Juneau
Arizona              AZ      Phoenix
Arkansas             AR  Little Rock
California           CA   Sacramento

In [15]:
abbreviations_capitals.set_index('State').head()

           Abbreviation      Capital
State
Alabama              AL   Montgomery
Alaska               AK       Juneau
Arizona              AZ      Phoenix
Arkansas             AR  Little Rock
California           CA   Sacramento

In [10]:
# Reading in state-facts.csv and set its index to be the State column

            Year of Statehood    Area Population (2010 Census)
State
Alabama                  1819   155.4                  580,300
Alaska                   1959  2716.7                   31,275
Arizona                  1912   474.9                5,638,519
Arkansas                 1836   116.2                1,070,615
California               1850    97.2                2,993,611

In [19]:
state_facts = pd.read_csv('state-facts.csv')
state_facts.set_index('State').head()

            Year of Statehood    Area Population (2010 Census)
State
Alabama                  1819   155.4                  580,300
Alaska                   1959  2716.7                   31,275
Arizona                  1912   474.9                5,638,519
Arkansas                 1836   116.2                1,070,615
California               1850    97.2                2,993,611

In [11]:
# Output after concatenating state facts with your previous data frame

,Abbreviation,Capital,Year of Statehood,Area,Population (2010 Census)
State,,,,,
Alabama,AL,Montgomery,1819,155.4,"580,300"
Alaska,AK,Juneau,1959,2716.7,"31,275"
Arizona,AZ,Phoenix,1912,474.9,"5,638,519"
Arkansas,AR,Little Rock,1836,116.2,"1,070,615"
California,CA,Sacramento,1850,97.2,"2,993,611"

In [21]:
new_df = pd.merge(abbreviations_capitals, state_facts, on='State')
new_df.head()

,State,Abbreviation,Capital,Year of Statehood,Area,Population (2010 Census)
0,Alabama,AL,Montgomery,1819,155.4,"580,300"
1,Alaska,AK,Juneau,1959,2716.7,"31,275"
2,Arizona,AZ,Phoenix,1912,474.9,"5,638,519"
3,Arkansas,AR,Little Rock,1836,116.2,"1,070,615"
4,California,CA,Sacramento,1850,97.2,"2,993,611"