# Filtering by age
---
Filter through the array of users, returning only those who are older than 18

In [20]:
users = [
    {'name': 'John', 'age': 17},
    {'name': 'Sally', 'age': 21},
    {'name': 'Bill', 'age': 10},
    {'name': 'Moe', 'age': 77},
    {'name': 'Jane', 'age': 18},
    {'name': 'Leslie', 'age': 19}
]

In [21]:
[users for users in users if users['age']>18]

[{'age': 21, 'name': 'Sally'},
 {'age': 77, 'name': 'Moe'},
 {'age': 19, 'name': 'Leslie'}]

In [8]:
# Your filtering code goes here
[users for users in users if users['age']>18]

[{'age': 21, 'name': 'Sally'},
 {'age': 77, 'name': 'Moe'},
 {'age': 19, 'name': 'Leslie'}]

# Mapping Genders
---
I have a list of genders from a database:

In [9]:
genders = ['Male', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female']

In order to use this list in a machine learning algorithm, we need `genders` to be converted to 1's and 0's.

Create a function called `is_female` that accepts a single `gender` parameter.

- If the string is 'Female', return 1
- If the string is 'Male', return 0

In [12]:
def is_female(gender):
    if gender=='Female': 
        return 1 
    else: 
        return 0

In [13]:
is_female('Female') # This should output 1

1

In [14]:
is_female('Male') # Should return 0

0

Create a new array called `females` that maps through the `genders` array and creates a list of 1's and 0's using your `is_female` function

In [15]:
females = [is_female(gender) for gender in genders]
females

[0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1]

In [16]:
females =  [is_female(gender) for gender in genders] # list comprehension goes here
females

[0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1]

# List of names
---
Convert the string of names into a list of names. Be sure to remove all commas and the word "and"

In [38]:
dwarves_string = "Bashful, Doc, Dopey, Happy, Sleepy, Sneezy and Grumpy"

Create a list called `dwarves_list` that splits `dwarves_string` on the spaces:

In [107]:
dwarves_string_spaces = dwarves_string.split(' ')
dwarves_string_spaces

['Bashful,', 'Doc,', 'Dopey,', 'Happy,', 'Sleepy,', 'Sneezy', 'and', 'Grumpy']

Now use list comprehension to remove the commas.

NOTE: You'll still see commas in your output. Just make sure they aren't in the strings.

In [111]:
dwarves_string_spaces_clean = [s.replace(',', '') for s in dwarves_string_spaces]
dwarves_string_spaces_clean

['Bashful', 'Doc', 'Dopey', 'Happy', 'Sleepy', 'Sneezy', 'and', 'Grumpy']

Finally, use list comprehension to remove the word 'and' from your list

In [112]:
[s for s in dwarves_string_spaces_clean if s !='and']

['Bashful', 'Doc', 'Dopey', 'Happy', 'Sleepy', 'Sneezy', 'Grumpy']

# Sum all positives
---
Create a function that accepts an array of numbers. Return a sum of all positive numbers

In [56]:
def sum_positive(number_array):
    total = 0 
    for number in number_array:
        if number > 0: 
            total += number 
        else: 
            continue
    return total

In [57]:
sum_positive([1, -2, -3, 1]) # should return 2

2

In [58]:
sum_positive([-1]) # Should return 0

0

# Even numbers
---
Filter through the array of numbers and return only the even ones

In [60]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
[n for n in numbers if n%2 == 0]

[2, 4, 6, 8, 10]

In [64]:
# Expected output  [2, 4, 6, 8, 10]

# Filter by role
---
Filter through this list of users and return all the students

In [67]:
users = [
    {'name': 'Bill', 'role': 'Student'},
    {'name': 'Jane', 'role': 'Student'},
    {'name': 'Frank', 'role': 'Student'},
    {'name': 'Sally', 'role': 'Teacher'}
]

In [74]:
[user for user in users if user['role']=='Student']

[{'name': 'Bill', 'role': 'Student'},
 {'name': 'Jane', 'role': 'Student'},
 {'name': 'Frank', 'role': 'Student'}]

In [2]:
# Expected output

[{'name': 'Bill', 'role': 'Student'},
 {'name': 'Jane', 'role': 'Student'},
 {'name': 'Frank', 'role': 'Student'}]

Do the same thing above, only this time return all the teachers.

In [75]:
[user for user in users if user['role']=='Teacher']

[{'name': 'Sally', 'role': 'Teacher'}]

In [6]:
# Expected output

[{'name': 'Sally', 'role': 'Teacher'}]

Now return all `users` who have 4 characters in their name

In [76]:
[user for user in users if len(user['name'])==4]

[{'name': 'Bill', 'role': 'Student'}, {'name': 'Jane', 'role': 'Student'}]

# Sort numerically
---
Sort the list of numbers below from smallest to largets. *NOTE*: We haven't taught you how to sort a list, you'll need to look it up.

In [80]:
numbers = [10, 2, -1, 0, 3, 5]

In [130]:
sorted_numbers = sorted(numbers)
sorted_numbers

[-1, 0, 2, 3, 5, 10]

# Mapping names
---
Given the list of dictionaries, return an array of full names. The result should be:

```python
['Jane Doe', 'John Kennedy', 'Ada Lovelace']
```

In [131]:
names = [
    {'first_name': 'Jane', 'last_name': 'Doe'},
    {'first_name': 'John', 'last_name': 'Kennedy'},
    {'first_name': 'Ada', 'last_name': 'Lovelace'}
]

In [143]:
full_names = [name['first_name']+' '+name['last_name']  for name in names]
full_names

['Jane Doe', 'John Kennedy', 'Ada Lovelace']

Now do the same thing above, only return a list of dictionaries, with 'name' being the key. Result should be:
```python
[{'name':'Jane Doe'},{'name':'John Kennedy'},{'name': 'Ada Lovelace'}]
```

In [146]:
names = [
    {'first_name': 'Jane', 'last_name': 'Doe'},
    {'first_name': 'John', 'last_name': 'Kennedy'},
    {'first_name': 'Ada', 'last_name': 'Lovelace'}
]

[{'name': name['first_name']+ ' ' +name['last_name']} for name in names]

[{'name': 'Jane Doe'}, {'name': 'John Kennedy'}, {'name': 'Ada Lovelace'}]

# Mapping a dictionary
---
Map through the following user dictionary and capitalize the first letter of their first and last names:
```python
user = {'first_name': 'john', 'last_name': 'doe'}
```

Your output should be:
```python
{'first_name': 'John', 'last_name': 'Doe'}
```

In [147]:
user = {'first_name': 'john', 'last_name': 'doe'}
{k:v.title() for k,v in user.items()}

{'first_name': 'John', 'last_name': 'Doe'}