In [1]:
from sklearn.datasets import load_iris
import pandas as pd

Scikit Learn datasets are actually functions that return an object containing the data we need.

In [22]:
data = load_iris()

In machine learning, the column we're trying to predict is usually called the target (or label). In the case of the iris dataset, the target is the species of iris encoded as digits.

In [9]:
data.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

The digits 0, 1 and 2 correspond to the indices of this array:

In [4]:
data.target_names

array(['setosa', 'versicolor', 'virginica'],
      dtype='<U10')

We'll use `data.target` to create our first dataframe, which is just a single column.

In [23]:
target_df = pd.DataFrame(data.target, columns=['species'])
target_df.head()

   species
0        0
1        0
2        0
3        0
4        0

Your job is to create another dataframe using the features from `data.data`

<details><summary>Need a hint?</summary>
Read the docs: http://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_iris.html
</details>

In [27]:
features_df = pd.DataFrame(data.data, columns=['sepal length(cm)', 'sepal width(cm)', 'petal length(cm)', 'petal width(cm)'])
features_df.head()

   sepal length(cm)  sepal width(cm)  petal length(cm)  petal width(cm)
0               5.1              3.5               1.4              0.2
1               4.9              3.0               1.4              0.2
2               4.7              3.2               1.3              0.2
3               4.6              3.1               1.5              0.2
4               5.0              3.6               1.4              0.2

Finally, use `pd.concat` to combine the two dataframes.

In [34]:
new_df = pd.concat([features_df, target_df], axis = 1)
new_df.head()

,sepal length(cm),sepal width(cm),petal length(cm),petal width(cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0